.wrapper {
    border: 1px solid #bababa;
    border-bottom: 3px solid #000;
    padding-bottom: 10px;
}
.wrapper .row{
    margin-left: 0;
    margin-right: 0;
}
.table-wrapper {
    background-color: #e7eaee;
    border-top: 3px solid #3fa4de;
}
.table td {
    border-top: none !important;
}
.btn{
    padding: .4rem 3rem !important;
}
.btn-primary {
    background-color: #3fa4de !important;
    border-color: #3fa4de !important;
    border-radius: 0 !important; 
}
input[type="file"]{
    margin-top: 10px;
}

.login-wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(../images/bckg/corinne-kutz-211251-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.centered {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
    max-width: 390px;
    padding: 10px 25px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 8px;
    -webkit-box-shadow: 0px 3px 34px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 34px -5px rgba(0,0,0,0.75);
box-shadow: 0px 3px 34px -5px rgba(0,0,0,0.75);
}
.login-form {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}

.login-form h1,
.login-form h2,
.login-form h3,
.login-form h4,
.login-form h5,
.login-form h6,
.login-form label {
    color: #FFF;
}
.custom-submit {
    color:#FFF;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
.custom-submit:focus{
    outline: none;
    color:#3fa4de;
}
.login-form input[type="text"],
.login-form input[type="password"]{
    background-color: transparent;
    color: #FFF;
    border: none;
    border-bottom: 1px solid #FFF;
    border-radius: 0;
}
.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    box-shadow: none;
    border-color: #3fa4de;
}
.fa-minus-square-o{
    margin-left: 2%;
}